body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 1rem;
  background: white;
}

.has-error .regexp-panel label,
.syntax-error {
  color: red;
}

.has-error .regexp-panel .field {
  border-color: red;
}

* {
  box-sizing: border-box;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.panels {
  display: flex-row;
  justify-content: space-between;
  height: 100%;
}

.panel {
  display: flex-row;
  height: 30vh;
}

.field,
.preview {
  font-size: 1.5rem;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.5em;
  margin: 0;
  width: 100%;
}

.field:focus {
  border-color: blue;
}

.match {
  color: blue;
  text-decoration: underline;
}

.preview {
  white-space: normal;
}