/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

textarea, #preview {
  font-size: 2vh;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.5em;
  min-height: 100px;
}

#preview {
}