* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body,
#app {
  background: #e5e5e5;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, arial, sans-serif;
  padding: 1rem;
}

.has-error .regexp-panel .label,
.syntax-error {
  color: red;
}

.has-error .regexp-panel .textarea {
  border-color: red;
}

.panels {
  display: flex-row;
  justify-content: space-between;
  height: 100%;
}

.panel {
  --label-height: 2rem;
  height: calc(100% / 2);
  position: relative;
}

.panel-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.panel .panel {
  height: 100%;
  width: 100%;
  position: absolute;
}

.label {
  display: block;
  height: var(--label-height);
  line-height: var(--label-height);
}

.test-string-panel-input-mask {
  --padding: 0.5em;
}

.textarea {
  caret-color: black;
  padding: var(--padding);
}

.textarea,
.preview {
  font-family: monospace;
  font-size: 1.5rem;
  /* font-size: calc(100vw/20); */
  height: calc(100% - var(--label-height));
  line-height: calc(1em + 2px);
  line-height: 26px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin: 0;
  width: 100%;
}

.textarea:focus {
  border-color: blue;
  box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.4);
  outline-color: rgba(0, 0, 255, 0);
  outline-style: none;
  outline-width: 0;
}

.regexp-panel {
  --flags-height: 2rem;
}

.regexp-panel .textarea {
  height: calc((100% - var(--label-height)) - var(--flags-height));
}

.regexp-panel .flags {
  display: flex;
  align-items: center;
  height: var(--flags-height);
}

.flags label {
  margin-right: 0.5em;
}

.preview-panel {
  z-index: 0;
}

.preview-panel label {
  opacity: 0;
}

.test-string-panel {
  z-index: 1;
}

.test-string-panel .textarea {
  background: transparent;
  color: transparent;
}

.match {
  background: magenta;
  border-radius: 2px;
  color: yellow;
}

/*.break-sign { display: none; }*/
/* br tags cannot have ::after, so use this instead */
.break-sign::after {
  content: "$";
  color: #ccc;
}

.preview {
  background: white;
  vertical-align: text-bottom;
  appearance: textarea;
  -moz-appearance: textarea;
  -webkit-appearance: textarea;
}

.preview-interior {
  height: calc(100% - (var(--padding) * 2));
  width: calc(100% - (var(--padding) * 2));
  margin: var(--padding);
  overflow: scroll;
  overflow-anchor: auto;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  /* Hide scrollbar */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.preview-interior::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.debug .panel {
  width: 50%;
}

.debug .preview-panel {
  right: 0;
}

.debug .textarea {
  background: inherit;
  color: inherit;
}
